<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google sign in </string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.891652528962-djbubf739ckgi3jl0jim25rdr6qjhks7</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>891652528962-djbubf739ckgi3jl0jim25rdr6qjhks7.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>SignikaNegative-Light.ttf</string>
		<string>SignikaNegative-Regular.ttf</string>
		<string>SignikaNegative-Medium.ttf</string>
		<string>SignikaNegative-SemiBold.ttf</string>
		<string>SignikaNegative-Bold.ttf</string>
	</array>
</dict>
</plist>
